---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en-US">
<head>
    <BaseHead title="Jason Weinzierl | Education" />
</head>

<body>
    <Header />
    <main>
        <div class="container mx-auto px-3 mt-6">
            <h1 class="mb-2">Jason Weinzierl &mdash; Education</h1>
            <p class="text-xl font-light mb-4">Graduate of the University of Missouri</p>
            <div class="flex flex-wrap gap-x-6">
                <div class="w-full md:flex-1">
                    <h3 class="mb-2">Computer Science, Minor</h3>
                    <ul class="mb-4">
                        <li>Object-Oriented Design: Java, PHP, Swift</li>
                        <li>Database Applications: MySQL</li>
                        <li>Agile Methodology: Scrum, Kanban, git</li>
                        <li>UNIX Systems: Bash</li>
                        <li>Theory of Computation</li>
                        <li>Computer Networks</li>
                        <li>Design and Analysis of Algorithms</li>
                        <li>Microcomputer Engineering</li>
                        <li>Senior Capstone Design Sequence</li>
                    </ul>
                </div>

                <div class="w-full md:flex-1">
                    <h3 class="mb-2">Physics, BS</h3>
                    <ul class="mb-4">
                        <li>Mechanics</li>
                        <li>Electricity &amp; Magnetism</li>
                        <li>Astronomy</li>
                        <li>Thermodynamics</li>
                        <li>Quantum Mechanics</li>
                        <li>Computational Biological Physics</li>
                        <li>Nuclear Magnetic Resonance</li>
                    </ul>

                    <h3 class="mb-2">Mathematics, BS</h3>
                    <ul class="mb-4">
                        <li>Differential Equations</li>
                        <li>Real Analysis</li>
                        <li>Linear Algebra</li>
                        <li>Non-Euclidean Geometry</li>
                        <li>Abstract Algebra</li>
                        <li>Theory of Numbers</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <Footer />
</body>
</html>
