---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en-US">
<head>
    <BaseHead title="Jason Weinzierl | Education" />
</head>

<body>
    <Header />
    <main>
        <div class="container mx-auto mt-6 px-3">
            <h1 class="mb-2">Jason Weinzierl &mdash; Education</h1>
            <p class="mb-4 text-xl font-light">Graduate of the University of Missouri</p>
            <ul class="list-inside list-disc">
              <li class="text-xl">Computer Science, Minor</li>
              <li class="text-xl">Physics, B.S.</li>
              <li class="text-xl">Mathematics, B.S.</li>
            </ul>
        </div>
    </main>
    <Footer />
</body>
</html>
