---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Link } from 'lucide-astro';
---

<!DOCTYPE html>
<html lang="en-US">
<head>
    <BaseHead title="Jason Weinzierl | Experience" />
</head>

<body>
    <Header />
    <main>
        <div class="container mx-auto px-3 mt-6">
            <h1 class="mb-2">Jason Weinzierl &mdash; Experience</h1>
            <p class="text-xl font-light mb-4">Software Engineer</p>
            <div class="flex flex-wrap gap-x-6">
                <div class="w-full md:flex-1">
                    <h2 class="mb-2">Professional</h2>

                    <h3 class="mb-2">weavix</h3>

                    <h4 class="mb-2">Software Engineer <span class="text-gray-600">February 2023 to Present</span></h4>
                    <p class="mb-4">Building the Internet of Workers.</p>
                    <ul class="list-disc ps-8 mb-4">
                        <li><mark>TypeScript</mark>, <mark>React Native</mark> and Angular, Node.js, MongoDB</li>
                        <li>Microsoft <mark>Azure</mark> cloud</li>
                    </ul>

                    <h3 class="mb-2">SMG - Service Management Group</h3>

                    <h4 class="mb-2">Software Engineer <span class="text-gray-600">October 2021 to February 2023</span></h4>
                    <p class="mb-4">Advanced Text Analytics <span class="text-gray-600">November 2020 to February 2023</span></p>
                    <!-- Officially I started June 2020 but worked tickets for SR Team and then SD Team until November. -->
                    <ul class="list-disc ps-8 mb-4">
                        <li>Text Analytics &amp; Insights product lane</li>
                        <li>Backend .NET microservice Web APIs</li>
                        <li>.NET and Python background worker services</li>
                        <li>Frontend Angular components</li>
                        <li><mark>C#</mark>, <mark>Angular</mark>, SQL Server, MongoDB, <mark>Elasticsearch</mark>, Python</li>
                    </ul>

                    <h4>Associate Software Engineer <span class="text-gray-600">May 2019 to October 2021</span></h4>
                    <p class="mb-4">Core Platform Teams <span class="text-gray-600">June 2020 to November 2020</span></p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Custom client-requested code changes to .NET backend services</li>
                        <li>Data Processing Team work</li>
                    </ul>
                    <p class="mb-4">Core Bug Team <span class="text-gray-600">April 2020 to June 2020</span></p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Production Support of operations, work with client-facing teams in problem resolution</li>
                        <li>Bug &amp; defect investigation of legacy code base</li>
                        <li>Respond to automated monitoring for outages</li>
                    </ul>
                    <p class="mb-4">Data Processing Team <span class="text-gray-600">May 2019 to March 2020</span></p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Develop &amp; support ETL systems in <mark>SSIS</mark> for importing multi-source transactional data</li>
                        <li>Develop C# modules for translating flat files to EAV-model database</li>
                        <li>Dedicated contributions to automating and documenting existing processes</li>
                        <li>Ad hoc queries of <mark>SQL Server</mark>, MongoDB in support of client-facing teams</li>
                    </ul>
                </div>
                <div class="w-full md:flex-1">
                    <h2 class="mb-2">Personal Projects</h2>

                    <h3 class="mb-2">Belton Historical Society <a href="https://beltonhistoricalsociety.org" class="text-gray-600 underline">Site<Link class="inline" aria-hidden="true" /></a></h3>
                    <p class="mb-4 text-gray-600">July 2011 to Present</p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Solo developed full stack web app: Angular, ASP.NET Core, Cosmos DB, <mark>Terraform</mark></li>
                        <li>Full unit test coverage, immutable append-only database design</li>
                        <li>Third iteration (2020-2023), rebuilt to replace previous PHP/MySQL app</li>
                    </ul>

                    <h3 class="mb-2">Personal finance <span class="text-gray-600">project</span></h3>
                    <p class="mb-4 text-gray-600">2022 to 2025</p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Personal data lake fed by multi-source financial data</li>
                        <li>.NET Azure Functions and Azure Data Lake Storage Gen2</li>
                    </ul>

                    <h3 class="mb-2">Skylight <a href="https://kbckc-skylight.azurewebsites.net" class="text-gray-600 underline">Application<Link class="inline" aria-hidden="true" /></a></h3>
                    <p class="mb-4 text-gray-600">January 2023 to Present</p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Church tool for generating PowerPoint slideshows from song lyrics</li>
                        <li>Integrates with 3rd party REST API, including OAuth2</li>
                    </ul>

                    <h3 class="mb-2">simple-chatroom <a href="https://github.com/JasonWeinzierl/simple-chatroom" class="text-gray-600 underline">CLI<Link class="inline" aria-hidden="true" /></a></h3>
                    <p class="mb-4 text-gray-600">Nov 2018 to 2019</p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>Project for Networking</li>
                        <li>Built entirely with <mark>Node.js</mark>, over TCP</li>
                    </ul>

                    <h3 class="mb-2">Missouri Rail <span class="text-gray-600">Site</span></h3>
                    <p class="mb-4 text-gray-600">Feb 2017 to Apr 2017</p>
                    <ul class="list-disc ps-8 mb-4">
                        <li>5-person group effort for introductory Databases course</li>
                        <li>PHP, MariaDB</li>
                    </ul>

                    <h3 class="mb-2">This website!</h3>
                    <ul class="list-disc ps-8 mb-4">
                        <li><mark>Astro</mark> static site generator, <mark>Tailwind CSS</mark></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <Footer />
</body>
</html>
