---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en-US">
<head>
    <BaseHead title="Jason Weinzierl | Interests" />
</head>

<body>
    <Header />
    <main>
        <div class="container mx-auto px-3 mt-6">
            <h1 class="mb-2">Jason Weinzierl &mdash; Interests</h1>
            <p class="text-xl font-light mb-4">Hobbies and Volunteer Work</p>

            <h3 class="mb-2">Volunteer Work</h3>
            <ul class="mb-4">
                <li>Sound Booth operation at my local church</li>
                <li>Maintaining the Belton Historical Society website</li>
                <li>Re-notated Marching Mizzou's music in Finale <span class="text-gray-600">Summer 2018</span></li>
            </ul>

            <h3 class="mb-2">Music</h3>
            <ul class="mb-4">
                <li>Marching Mizzou, Mellophone <span class="text-gray-600">2014&ndash;2018</span></li>
                <li>Classical Piano <span class="text-gray-600">Since 2001</span></li>
                <li>Family Brass Quintet</li>
                <li>Defensive Shorts arranger for Marching Mizzou <span class="text-gray-600">2022, 2023</span></li>
            </ul>

            <h3 class="mb-2">Code, code, code</h3>
            <p class="mb-4">There's always more code to be written, optimized, or cleaned.</p>
            <p class="mb-4">
                See
                <a href="/Experience/" class="underline">Experience</a>
                or
                <a href="https://github.com/JasonWeinzierl" class="underline">my GitHub</a>
                for my personal projects!
            </p>
        </div>
    </main>
    <Footer />
</body>
</html>
