---
import '../styles/global.css';

const { title } = Astro.props;
---

<meta charset="UTF-8">
<meta name="author" content="Jason Weinzierl">
<meta name="description" content="Jason Weinzierl is a developer">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{title}</title>
