<footer>
    <div class="container mt-5">
        <p class="text-center"><small class="text-muted">Copyright &copy; <time datetime="2019">2019</time>&ndash;<time datetime="2025">2025</time></small></p>
    </div>
</footer>
