<footer>
    <div class="container mx-auto px-3 mt-12">
        <p class="text-center text-sm text-gray-600 mb-4">Copyright &copy; <time datetime="2019">2019</time>&ndash;<time datetime="2025">2025</time></p>
    </div>
</footer>
