---
import { Github, Linkedin, Menu } from 'lucide-astro';

import HeaderLink from './HeaderLink.astro';
---

<header>
    <nav class="relative flex items-center justify-start bg-gray-800 py-2">
        <div class="mx-auto flex w-full items-center justify-between px-3">
            <a class="mr-4 py-1.5 text-xl text-white" href="/">Jason</a>
            <button
                type="button"
                class="cursor-pointer rounded-md border border-white/10 px-2 py-1 text-xl text-white/50 focus:outline-4 md:hidden"
                popovertarget="site-menu"
                aria-controls="site-menu"
                aria-expanded="false"
                aria-label="Toggle site menu"
            >
                <Menu size="30" />
            </button>
            <div
                popover
                id="site-menu"
                class="absolute top-14 w-full origin-top scale-y-95 bg-gray-800 px-3 py-2 opacity-0 transition-[opacity,transform,display,overlay] transition-discrete duration-500 ease-out open:scale-y-100 open:opacity-100 md:static md:top-0 md:flex md:flex-1 md:scale-y-100 md:items-center md:p-0 md:opacity-100 md:transition-none"
            >
                <ul class="me-auto mb-2 flex flex-col md:mb-0 md:flex-row">
                    <HeaderLink href="/Experience/">Experience</HeaderLink>
                    <HeaderLink href="/Education/">Education</HeaderLink>
                    <HeaderLink href="/Interests/">Interests</HeaderLink>
                </ul>
                <hr class="my-4 text-white/50 opacity-25 md:hidden" />
                <ul class="ms-auto flex flex-col md:flex-row">
                    <li class="list-none">
                        <a
                            class="block py-2 text-white/55 transition-colors hover:text-white/75 focus:text-white/75 md:px-2"
                            href="https://github.com/JasonWeinzierl"
                        >
                            <Github class="inline" />
                            <small class="ms-2">GitHub</small>
                        </a>
                    </li>
                    <li class="list-none">
                        <a
                            class="block py-2 text-white/55 transition-colors hover:text-white/75 focus:text-white/75 md:px-2"
                            href="https://www.linkedin.com/in/jasonweinzierl"
                        >
                            <Linkedin class="inline" />
                            <small class="ms-2">LinkedIn</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<style>
    @starting-style {
        #site-menu:popover-open {
            opacity: 0;
            transform: scaleY(0.95);
        }
    }
</style>
