---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const normalizedHref = href?.toString().replace(/\/$/, '');
const isActive = href === pathname || normalizedHref === '/' + (subpath?.[0] || '');
---

<li class="nav-item">
    <a
        class:list={['nav-link', className, { active: isActive }]}
        aria-current={isActive ? 'page' : undefined}
        href={href}
        {...props}
    >
        <slot />
    </a>
</li>
